<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload to Drop Lock</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img style='display:inline;' height="88" width="100" src="/static/logo.png" class="img-responsive" alt="Logo">
        <h2 style='display:inline;'>Drop Lock</h2>
        <p>Upload File</p>
        <form method="post" enctype="multipart/form-data">
            Select file to upload:
            <input type="file" id="file" name="file"><br>
            <input type="submit" value="Upload File" name="submit">
        </form>
    </div>
</div>
</body>
</html>